//blog

.home-style {
	background-color: $background-section-color;
	padding-top: 20px;
	.blog-search {
		display: inline-block;
		float: right;
		input[type="search"] {
			background: $main-font-color;
			padding-left: 15px;
			font-size: 1.6rem;
		}
	}	
	.breadcrumb-style {
		font-size: 1.6rem;
		display: inline-block;
	}
}


.article-style {
	background-color: $main-font-color;
	border: 1px solid $blog-font-color;
	border-radius: 6px;
	.article-title-style {
		font-size: 2.4rem;
		padding: 15px 0;
		font-weight: bold;
		&:hover {
			color: $main-site-color;
			text-decoration: none;
		}
	}	
	img {
		width: 100%;
	}
	p {
		font-size: 1.6rem;
		padding: 20px 0;
		.see-more-style {
			font-size: 1.6rem;
			font-weight: bold;
			color: $main-site-color;
			text-transform: uppercase;
			display: inline-block;
			&:hover {
				opacity: 0.7;
				color: $second-font-color;
			}
		}
	}
}
.article-item {
	margin: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid $blog-font-color;
}
.article-item-about {
	font-size: 1.4rem;
}
.autor-style {
	padding-right: 20px;
}

.family-img {
	position: relative;
	.overlay{
		position:absolute;
		top:0;
		width:0;
		overflow: hidden;
		background: $main-site-color;
		opacity: 0.95;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&:hover .overlay{
		animation: portfolio-hover 1s;
		width:100%;
		height: 100%;
	}
	a {
		display: inline-block;
		text-align: center;
		padding: 13px 30px;
		color: $main-site-color;
		background-color: $main-font-color;
		opacity: 1;
		font-size: 1.6rem;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}
	}
}
@keyframes portfolio-hover {
	0%   { height: 0; }
	100% { height: 100%; }
}


.pagination-style {
	padding: 30px 0;
	.pages-info {
		font-size: 1.6rem;
		font-weight: bold;
	}
	.page-numbers {
		display: inline-flex;
		margin-top: 5px;
		padding: 8px 10px;
		font-size: 1.6rem;
		font-weight: bold;
		color: $second-font-color;
		&:hover, &.active {
			color: $main-font-color;
			background-color: $main-site-color;
			border-radius: 6px;
		}
		
	}
	.dots {
		background: none;
		color: #000;
		padding: 0 20px;
	}
	
	.page-numbers.current {
		font-size: 1.6rem;
		color: $main-font-color;
		background-color: $main-site-color;
		border-radius: 6px;
	}
	.next, .prev {
		display: none;
	}
}
