//index
.wrapper {
	padding: 0;
	margin: 0;
}
.section-title-style {
	padding: 30px 0;
	margin-bottom: 40px;
	font-size: 4rem;
	border-bottom: 3px solid $main-site-color;
	display: inline-block;
	
}

.story-style {
	background-size: cover;
	color: $main-font-color;
	padding: 30px 0 30px;
	text-align: center;
	.story-title {
		font-size: 6rem;
		padding: 20px 0;
	}
	.story-text {
		font-size: 1.8rem;
		padding: 20px 0;
	}
	.story-link {
		color: $second-font-color;
		padding: 30px 40px;
		margin-top: 60px;
		font-size: 1.6rem;
		background-color: $main-site-color;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 4px;
		&:hover {
			opacity: 0.7;
			background-color: $second-font-color;
			color: $main-site-color;
		}
	}
}

.process-style {
	text-align: center;
	//color: $main-font-color;
	.process-image-title-style {
		padding: 15px 0;
		font-size: 2rem;
		font-weight: bold;
	}
	.process-text-style {
		font-size: 1.6rem;
		padding: 10px 0;
	}
}	


.about-style {
	padding: 70px 0;
	background-color: $background-section-color;
	.about-style-text {
		font-size: 1.6rem;
	}
	.about-description {
		color: $second-font-color;
		padding: 30px 0;
	}
	.about-link {
		font-size: 1.6rem;
		margin-top: 30px;
		color: $main-site-color;
		text-transform: uppercase;
		border-radius: 30px;
		&:hover {
			opacity: 0.7;
			color: $second-font-color;
		}
	}
}

.build-style {
	color: $second-font-color;
	padding: 30px 0 30px;
	.build-title {
		font-size: 6rem;
		padding: 20px 0;
	}
	.build-text {
		font-size: 1.8rem;
		padding: 20px 0;
		font-weight: bold;
	}
	.build-link {
		color: $second-font-color;
		padding: 30px 40px;
		margin-top: 60px;
		font-size: 1.6rem;
		background-color: $main-site-color;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 4px;
		&:hover {
			opacity: 0.7;
			background-color: $second-font-color;
			color: $main-site-color;
		}
	}
}


.family-style {
	text-align: center;
	//color: $main-font-color;
	.family-info-title-style {
		padding: 15px 0;
		font-size: 2.4rem;
		font-weight: bold;
	}
	p {
		font-size: 1.6rem;
		padding: 10px 0;
	}
	.family-info {
		text-align: left;
	}
	.family-link {
		font-size: 1.6rem;
		margin: 30px 0;
		color: $main-site-color;
		text-transform: uppercase;
		display: inline-block;
		&:hover {
			opacity: 0.7;
			color: $second-font-color;
		}
	}
}	


.testimonials-style {
	text-align: center;
	background-color: $background-section-color;
	p {
		font-size: 1.6rem;
		padding: 10px 0;
	}
	.testimonials-info {
		text-align: left;
	}
	.testimonials-name {
		color: $main-site-color;
	}
	.testimonials-link {
		font-size: 1.6rem;
		margin: 30px 0;
		color: $main-site-color;
		text-transform: uppercase;
		display: inline-block;
		&:hover {
			opacity: 0.7;
			color: $second-font-color;
		}
	}
	.testimonials-bottom {
		font-size: 1.8rem;
	}
	.testimonials-info-block {
		background-color: $main-font-color;
	}
}	





@include media-breakpoint-up(md) {
	.story-style {
		padding: 70px 50px;
	}
	.about-style {
		.about-style-text {
			padding-right: 40px;
		}
	}
}
	
